  .App {
    text-align: center;
  }
  #add_btn {
    padding: 14px;
    margin-left: 15px;
  }
  #text_input {
    width: 300px;
  }
  .btn_item{
    float: right;
    /* border: 1px solid red; */
    border: 1px solid #267ED5;
    border-radius: 6px;
    background-color: aliceblue;
  }
  .btn_item #btn_delete {
    size: small;
    width: fit-content;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
  }
  .btn_item #btn_edit {
    size: small;
    width: fit-content;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
  }